<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>梧桐工作室web软件开发</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.3.4-dist/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>

        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="IMG_1784(1).jpg"  alt="First slide">
          <div class="container">
            <div class="carousel-caption" >
              <h1>梧桐工作室</h1>
            <!--  <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>-->
              
            </div>
          </div>
        </div>
        <!--<div class="item">
          <img class="second-slide" src="IMG_1764.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>专注于中小型web软件工程的团队</h1>
             <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      
            </div>
          </div>
        </div>-->
        <div class="item active">
          <img class="third-slide" src="IMG_1764(1).jpg"  alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>专注于中小型web软件工程的团队</h1>
      
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="1450158490822251.jpg" alt="Generic placeholder image" width="140" height="140">
          <h4>我们是来自企事业研究所以及各大互联网公司的工程师团体，在各自领域都有5年以上经验.</h4>
        
        <!--  <p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="1_130322102125_1.png" alt="Generic placeholder image" width="140" height="140">
          <h4>我们大部分都有自己的全职工作，现在把自己平时闲散的时间片段贡献出来，所以无论您的项目是一个简单的网络爬虫还是一个静态的html网页，我们都会认真对待，在这里没有最低消费.</h4>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="1_130322102152_1.png" alt="Generic placeholder image" width="140" height="140">
          <h4>越过各种中介机构，招聘网站以及市场销售直接找到我们，可以省下您很多不必要的开支.</h4>
     
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">我们的业务范围？ </h2>
          <p class="lead">我们的团队由10%左右的全职工程师以及90%左右的兼职工程师构成，彼此之间是同事或者同学的关系，主要来自于企事业研究所以及各大互联网公司，工作经验不但包含了web、企业管理软件以及各种网络软件方面开发和维护，还包括了电路设计、布线，单片机以及ARM的系统集成方面的开发和维护。所以如果您有需求，不管它多怪、多小、又或者是涉猎多少不同知识点，请不要犹豫，打给我们咨询。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="1425518711801337.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">项目接洽 </h2>

          <p> <div class="lead">如果有疑问或者需求，打给我们的项目接洽人：小沈。

          
<div class="row  lead1">
  <div class="col-xs-1 iconcus"><span class="glyphicon glyphicon-phone iconcus" aria-hidden="true"></div>
  <div class="col-xs-11">15910928129</div>
</div>

<div class="row  lead1">
  <div class="col-xs-1 "><img  src="iconfont-qq.svg" width="21px" height="21px"></div>
  <div class="col-xs-11">25456088</div>
</div>

<div class="row  lead1">
  <div class="col-xs-1 "><img  src="iconfont-weixin.svg" width="21px" height="21px"></div>
  <div class="col-xs-11">kij8323</div>
</div>
      
<div class="row  lead1">
  <div class="col-xs-1 iconcus"><span class="glyphicon glyphicon-envelope iconcus" aria-hidden="true"></div>
  <div class="col-xs-11">shenanping2008@hotmail.com</div>
</div>
</p>
</div>


        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="140116135109-3326-1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      
  




      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">回到上方</a></p>
        <p>© 梧桐工作室 · </p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap-3.3.4-dist/js/1.11.3/jquery.min.js"></script>
    <script src="bootstrap-3.3.4-dist/js/3.3.5/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.3.4-dist/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>